---
title: Jessica Del Grande
layout: layouts/base.njk
---

<section class="wrapper">
	<div class="message">
		<div class="bubble-blue">r u ready?</div>
	</div>
	<div class="message">
		<div class="bubble-first">
			<div class="dot-one"></div>
			<div class="dot-two"></div>
			<div class="dot-three"></div>
		</div>
	</div>
	<div class="message">
		<div class="bubble-second">one sec</div>
	</div>
	<div class="message">
		<div class="bubble-third">
			<div class="dot-one"></div>
			<div class="dot-two"></div>
			<div class="dot-three"></div>
		</div>
	</div>
	<div class="message">
		<div class="bubble-fourth">omw</div>
	</div>
</section>
