---
title: Jessica Del Grande
layout: layouts/base.njk
---

<section class="wrapper">
	<div class="message">
		<div class="bubble bubble-them">where r u?</div>
	</div>
	<div class="message">
		<div class="bubble bubble-typing bubble-first">
			<div class="dot dot-one"></div>
			<div class="dot dot-two"></div>
			<div class="dot dot-three"></div>
		</div>
	</div>
	<div class="message">
		<div class="bubble bubble-sent bubble-second">omw</div>
	</div>
	<div class="message">
		<div class="bubble bubble-typing bubble-third">
			<div class="dot dot-one"></div>
			<div class="dot dot-two"></div>
			<div class="dot dot-three"></div>
		</div>
	</div>
</section>
